* { margin: 0; padding: 0; }

article, footer, header, nav { display: block; }
ul { list-style: none; }

body {
    margin: 0 auto;
/*     width: 940px; */
    background: #F0F0F0;
    font: 13px "Helvetica Neue", Helvetica, Arial, san-serif;
}
#hwrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #111;
}

header {
    display:table;
    margin: 0 auto;
    width: 980px;
}
header h1 { display: table-cell; color: #eee; vertical-align: middle; }
header nav { display: table-cell; }

    header nav ul {
/*         position: absolute; */
/*         right: 0; */
    }

    header nav ul li {
        float: left;
    }
    header nav ul li a {
        display: block;
        margin-right: 30px;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        color: #AAA;
    }

    header nav ul li a:hover {
        color: #fff;
    }

    header nav ul li.selected a {
        color: #fff;
    }

header p { color: #AAA; position: absolute; top: 0; margin-top: 2px; }
header p a { color: #AAA; }
header p a:visited { color: #AAA; }
header p a:hover { color: #fff; }

#content {
    display: table;
    margin-top: 43px;
}

#maincontent {
    display: table-cell;
    width: 800px;
    padding-left: 22px;
    padding-top: 20px;
    padding-right: 1em;
}

    #maincontent ul.node li {
        padding: 12px;
        margin-bottom: 1em;
        border: 1px solid #d7d7d7;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        background: #E8E8E8;
    }
    
    #maincontent ul.node li:nth-child(odd) {
        background: #E3E3E3;
    }
    
    #maincontent ul.node li:hover {
        background: #EAEAEA;
    }
    
    span.actions { float: right; text-align: right; }
    span.actions a { margin-left: 5px; font-size: smaller; }
    
form { width: 34em; }
form#newimage { width: 32em; float: right; }
form div, form p { padding: 0.3em; }
form input[type="text"], form input[type="password"], form select {
    margin-left: 1em; float: right; width: 22em; padding: 1px; 
}
form input[type="text"], form input[type="password"] { width: 21.5em; }

form div ul { width: 21.5em; padding: 1px; float: right; clear: right; }
form div ul li { padding-left: 1em; }
form p a { margin-left: 1em; }

div#sidebar {
    display: table-cell;
    width: 280px;
    padding: 1em;
    background: url("/media/images/sidebar_background.png") top left;
}

    div#sidebar div.section {
        padding: 11px 22px;
        background: url("/media/images/sidebar_section_background.png") repeat-x;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
    }
    
    div#sidebar div.section h3 { margin-bottom: 4px; font-size: 120%; }
    div#sidebar div.section ul {
/*         margin: 0 0 0 22px; */
        list-style: none;
    }
    div#sidebar div.section ul li {
        padding: 0.4em;
    }

form ul.errorlist li, p.error { color: red; }

/* Settings */
table.listing {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #CDCDCD;
    background-color: #fafafa;
}

table.listing thead tr th {
    padding: 4px;
    padding-right: 12px;
    width: 5.5em;
    text-align: center;
    background: url("/media/images/sidebar_section_background.png") repeat-x;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
}

table.listing tbody tr td {
    color: #3D3D3D;
    padding: 4px 5px 3px 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
}

table.listing tbody tr:hover td { background-color: #F0F0F0; }

a#createuser { margin: 1em 7em 3em 7em; display: block; width: 10em; }

/* Loading box of width=height=100px with a spinner placed at the center */
#loading {
    width:80px;
    height: 80px;
    position: fixed;
    top: 36%;
    left: 12%;
    background:url(/media/images/ajax-loader.gif) no-repeat center;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}


/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
