<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Overmind{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/default.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/media/js/jquery.tooltip.min.js"></script>
    <link rel="stylesheet" href="/media/css/jquery.tooltip.css">
    <script src="/media/js/jquery.dimensions.js"></script>
    <script src="/media/js/main.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block script %}{% endblock %}
</head>
<body>
<div id="hwrapper">
    <header>
        <h1>Overmind</h1>
        <nav>
            <ul>
                <li id="nav_overview"><a href="/overview/">Overview</a></li>{% if perms.provisioning %}
                <li id="nav_newprovider"><a href="/provider/">New Provider</a></li>{% endif %}{% if perms.provisioning %}
                <li id="nav_newnode"><a href="/node/">New Node</a></li>{% endif %}{% if perms.provisioning %}
                <li id="nav_settings"><a href="/settings/">Settings</a></li>{% endif %}
            </ul>
        </nav>
        {% if user.is_authenticated %}<p>{{ user.username }} | <a href="/accounts/logout/?next=/overview">Logout</a></p>{% endif %}
    </header>
</div>
<div id="content">{% block sidebar %}{% endblock %}
    <div id="maincontent">{% block content %}{% endblock %}</div>
</div>
<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
