<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Overmind{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/default.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/media/js/main.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="hwrapper">
    <header>
        <h1>Overmind</h1>
        <nav>
            <ul>
                <li><a href="/overview/">Overview</a></li>
                <li><a href="/provider/">New Provider</a></li>
                <li><a href="/node/">New Node</a></li>
            </ul>
        </nav>
    </header>
    </div>
    <div id="content">
        {% block sidebar %}{% endblock %}
        <div id="maincontent">{% block content %}{% endblock %}</div>
    </div>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
