{% extends "base.html" %}
{% block title %}: New Node{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <h2>Add a new node</h2>
    <ul>
        <li>
            <h3>Provider</h3>
            <ul>{% for provider in provider_list %}
            <li>
                <input id="provider_{{ provider.id }}" type="radio" name="provider" value="{{ provider.id }}" />
                <label for="provider_{{ provider.id }}">{{ provider }}</label>
            </li>{% endfor %}
            </ul>
        </li>
    </ul>
    <hr />
    <div id="form"></div>
    <div id="loading"></div>
    <script>
        function getProviderForm() {
            var provider = $("input:radio[name='provider']:checked").val();
            var duration = 100;
            var toOpacity = 0.3;
            $("#form").fadeTo(duration, toOpacity);
            $('#loading').show();
            $("#form").load("new/?provider=" + provider, function(responseText) {
                $('#loading').hide();
                $("#form").fadeTo(duration,1);
            });
        }
        
        $(function() {
            $('#loading').hide();
            $("input:radio[name='provider']").change(getProviderForm);
        });
    </script>
{% endblock %}

