{% extends "base.html" %}
{% block title %}: Overview{% endblock %}
{% block content %}
    <h2>Nodes<span class="actions"><a href="/provider/update/">update</a></span></h2>
    <br />
    <ul class="node">
        {% for instance in instance_list %}<li>{{ instance.provider }} - {{ instance.name }} - {{ instance.public_ip }} - {{ instance.state }}<span class="actions"><a href="/node/{{ instance.id }}/reboot/">reboot</a><a href="javascript:confirmation('This action will completely destroy the instance {{ instance.name }} with IP {{ instance.public_ip }}','/node/{{ instance.id }}/destroy/');">destroy</a></span></li>{% endfor %}
    </ul>
{% endblock %}
{% block sidebar %}
    <div id="sidebar">
        <div class="section">
            <h3>Providers</h3>
            <ul>{% for provider in provider_list %}
                <li>{{ provider.name }}<span class="actions"><a href="/provider/{{ provider.id }}/delete/">delete</a></li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}