{% extends "base.html" %}
{% block title %}: Overview{% endblock %}
{% block content %}
    <ul class="node">
        {% for instance in instance_list %}<li>{{ instance }}<a class="action" href="/node/{{ instance.id }}/delete/">delete</a></li>{% endfor %}
    </ul>
{% endblock %}
{% block sidebar %}
    <aside>
        <section>
            <h3>Providers</h3>
            <ul>{% for provider in provider_list %}
                <li>{{ provider.name }}<a class="action" href="/provider/{{ provider.id }}/delete/">delete</a></li>{% endfor %}
            </ul>
        </section>
        <section>
            <h3>Tags/Roles (examples)</h3>
            <ul>
                <li>Webserver</li>
                <li>Load Balancer</li>
            </ul>
        </section>
    </aside>
{% endblock %}