{% extends "base.html" %}
{% block title %}: Overview{% endblock %}
{% block content %}
    <h2>Nodes<span class="actions"><a href="/provider/update/">update</a></span></h2>
    <br />
    <ul class="node">
        {% for row in nodes %}<li>{{ row.node.provider }} - {{ row.node.name }} - {{ row.node.public_ip }} - {{ row.node.state }}<span class="actions">{% for a in row.actions %}<a href="{% if a.confirmation %}javascript:confirmation('{{ a.confirmation }}', '{% endif %}/node/{{ row.node.id }}/{{ a.action }}{% if a.confirmation %}');{% endif %}">{{ a.label }}</a>{% endfor %}</span></li>{% endfor %}
    </ul>
{% endblock %}
{% block sidebar %}
    <div id="sidebar">
        <div class="section">
            <h3>Providers</h3>
            <ul>{% for provider in provider_list %}
                <li>{{ provider.name }}<span class="actions"><a href="/provider/{{ provider.id }}/delete/">delete</a></li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}