{% extends "base.html" %}
{% block title %}: Settings{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}
{% block content %}
<div id='Users'>
<table class="listing">
    <tr><th>Name</th><th>first_name</th><th>last_name</th><th>Staff</th></tr>
{% for u in user_list %}    <tr>
        <td>{{ u.username }}</td><td>{{ u.first_name }}</td><td>{{ u.last_name }}</td><td>{{ u.is_staff }}</td>
    </tr>
{% endfor %}</table>
</div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <div class="section">
            <ul>
                <li>Users</li>
            </ul>
        </div>
    </div>
{% endblock %}
